<div class="col-sm-3 col-md-3 sidebar">
  <%= render 'shared/current_user_panel' %>
</div>
<div class="col-sm-9 col-md-9 main">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Listings</h3>
    </div>
    <div class='panel-body'>
      <div class="row">
        <div class="col-md-12">
          <form class="form-group" id="user-search-form" method='get'>
            <div class="input-group">
              <input type="text" name="query" class="form-control" id='user-search-input' placeholder="Search user names..." value='<%= params[:query] ? params[:query].split(',').join(" ") : nil%>'>
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit">Search</input>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div id='users'>
        <%= react_component(
          'UsersTable',
          {
            url: users_path,
            params: params.merge({
              include: [:team],
              only: [:id, :first_name, :last_name, :status],
              order: [:status, :first_name, :last_name]}),
            pollInterval: 1000,
            usersResource: users_path,
            teamsResource: teams_path,
            users: JSON.parse(@users.to_json(include: :team))})
        %>
        <div class="col-md-8 col-md-offset-2">
          <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
        </div>
      </div>


    </div>
  </div>
</div>
